<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MBXAccessToken</key>
	<string>pk.eyJ1IjoiY2hhZW4iLCJhIjoiY2xzbHR3ajJkMGV5dDJrcDVrMzVnaHU0eiJ9.rC7092BR28nxHzKheYt1DQ</string>
</dict>
</plist>
